.layout {
    width: 100%;
    display: flex;
    background-color: rgb(35, 42, 58);
    .side-bar{
        width: 100%;
        max-width: 300px;
    }
    .contnent{
        width: 100%;
        
    }
}